body {
  padding-top: 50px;
}

.login-form > div {
    margin-top: 10px;
}
td {
    border-top: none !important;
}

td.actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

td.add-todo {
    display: flex;
    justify-content: space-around;
}
