{% if todo.completed %}
<div>
    <button type="submit" class="btn btn-xs btn-success" disabled>
        <span class="glyphicon glyphicon-ok glyphicon-white"></span>
    </button>
</div>
{% else %}
<form method="put" action="{{ app.request.baseurl }}/todo/complete/{{ todo.id }}">
    <button type="submit" class="btn btn-xs btn-info" >
        <span class="glyphicon glyphicon-ok glyphicon-white"></span>
    </button>
</form>
{% endif %}
<form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
    <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
</form>
